@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
}

.custom_inner_shadow {
  box-shadow: inset 5px 5px 10px 0px #726f6f;
}
